# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class

# Virtual environments
env/
venv/

# VSCode
.vscode/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite

# Environment variables
.env
