# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class

# Virtual environments
env/
venv/

# VSCode
.vscode/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite
*.csv
*.pkl
# model file may be up to your scrutiny.

# Environment variables
.env

# Large data files
*/*.seqs

# compiled code files
*.so
build/
